<!DOCTYPE html>
<html>

<head>
    <title>MyAccounts</title>
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <!-- Scripts -->
    <script src="{{ url_for('static',filename='assets/twemoji.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>

    <!-- Styles -->
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body style="background-color:#F3F9E6;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <img src="../static/images/CompanyLogo.png" style="width: 32px; height: 32px;">
            </li>
            <li class="nav-item active">
                <a title="Your accounts here!" class="nav-link" href="/home">My Accounts</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/SearchAccount">
            <input class="form-control mr-sm-2" name="key" type="search" placeholder="Search" aria-label="Search">
            <input type="text" name="refer" value="title" hidden>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div style="margin: 40px">

        <!-- Tabla de menu -->
        <hr>
        {% if AllAccounts[0] %}
        <!-- Encabezado de tabla de Evento -->
        <b><big>Cuentas: <br /></big></b>
        <br />
        <table class="table table-striped table-dark">
            <thead>
                <tr id="row">
                    <th class="bg-primary"></th>
                    <th class="bg-primary">Account</th>
                    <th class="bg-primary">Username</th>
                    <th class="bg-primary">Mail</th>
                    <th class="bg-primary">Password</th>
                    <th class="bg-primary">Details</th>
                    <th class="bg-primary">Edit</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tabla de Cuentas  -->
                {% for Accounts in AllAccounts %}
                <tr>
                    <td class="bg-info"><img src="{{ Accounts['image'] }}" style="width: 64px; height: 64px;"></td>
                    <td class="bg-info">{{ Accounts["title"] }}</td>
                    <td class="bg-info">{{ Accounts["username"] }}</td>
                    <td class="bg-info">{{ Accounts["mail"] }}</td>
                    <td class="bg-info">{{ Accounts["password"] }}</td>
                    <td class="bg-info">{{ Accounts["details"] }}</td>
                    <td class="bg-info"><a class="list-group-item"
                            href="/EditAccount?AccountID={{ Accounts['_id'] }}" methods="POST">
                            <button type="submit">Edit</button>
                        </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <!-- Si no hay cuentas "No hay cuentas" -->
        <br>
        <p></p>
        <h4>No Accounts Yet...</h4>
        {% endif %}
        <div
            style="flex: none; position:absolute; justify-content: end; align-content: flex-end; align-items: flex-end; align-self:flex-end;">
            <a class="list-group-item" href="/AddAccount" methods="POST">
                <button class="btn-lg" type="submit">+</button>
            </a>
        </div>
    </div>

    <script src="/static/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>