<!DOCTYPE html>
<html>

<head>
    <title>MyAccounts Login</title>
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <!-- Scripts -->
    <script src="{{ url_for('static',filename='assets/twemoji.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>

    <!-- Styles -->
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body style="background-color:#d0d0d0;">

    <div class="container">
    <!-- Función de registro -->
    <form class="form-signin" action="/handleLogin" method="GET">
        <div class="text-center mb-4" style="padding: 20px;">
            <img class="mb-4" src="../static/images/CompanyLogo.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">MyAccounts</h1>
            <p>Login</p>
        </div>

        <div class="form-label-group">
            <label for="inputEmail">Username or </label>
            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required=""
                autofocus="">
        </div>

        <div class="form-label-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
        </div>

        {% if ERROR %}
        <div class="form-label-group">
            <label for="inputPassword">Incorrect User or Password</label>
        </div>
        {% endif %}

        <button style="margin-top: 50px;" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2019</p>
    </form>
</div>

</body>

</html>